
body,
body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: top;
}

body {
    background-color: black;
}


.mouse {
    height: 400px;
    width: 200px;
    margin-top: calc(50vh - 200px);
    margin-left: calc(50% - 100px);
    border: 10px solid white;
    border-radius: 95px;
    background-color: rgba(0,0,0,0);
    position: relative;
}
    .mouse > .rutuliukas {
        width: 10px;
        height: 60px;
        background-color: white;
        border-radius: 5px;
        position: relative;
        top: 40px;
        left: calc(50% - 5px);

        animation-name: animacija;
        animation-duration: 1.5s;
        animation-delay: 0.5s;
        animation-iteration-count: infinite;
    }
    @keyframes animacija {
        0%  {
            top: 40px;
            opacity: 0;
        }
       25%  {
           opacity: 1;
       }
       55%  {
           opacity: 1;
       }
       90% {
           opacity: 0;
       }
       100% {
           top: 180px;
           opacity: 0;
       }
    }
